<footer class="bg-dark text-white text-center py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-3">&copy; 2025 - Práctica Angular - Universidad Nacional de Jujuy</p>
            </div>
            <div class="col-md-6 " >
                <div class="d-flex justify-content-center justify-content-md-end gap-3 ">
                    <!-- Facebook-->
                    <a href="#" target="_blank" class="text-white text-decoration-none">
                        <i class="bi bi-facebook fs-4"></i>
                    </a>
                    <!-- Twitter-->
                    <a href="#" target="_blank" class="text-white text-decoration-none">
                        <i class="bi bi-twitter fs-4"></i>
                    </a>
                    <!-- Instagram-->
                    <a href="#" target="_blank" class="text-white text-decoration-none">
                        <i class="bi bi-instagram fs-4"></i>
                    </a>
                    <!-- GitHub-->
                    <a href="#" target="_blank" class="text-white text-decoration-none">
                        <i class="bi bi-github fs-4"></i>
                    </a>
                    <!-- YouTube-->
                    <a href="#" target="_blank" class="text-white text-decoration-none">
                        <i class="bi bi-youtube fs-4"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
 </footer>